@import './variable';

/********************** primary **********************/
.primary {
  color: $color-primary;
}
.primary-d {
  color: darken($color-primary, $darken-num);
}
.primary-l {
  color: lighten($color-primary, $lighten-num);
}
.bg-primary {
  background-color: $color-primary;
}
.bgd-primary {
  background-color: darken($color-primary, $darken-num);
}
.bgl-primary {
  background-color: lighten($color-primary, $lighten-num);
}
/********************** dark **********************/
.dark {
  color: $color-dark;
}
.dark-d {
  color: darken($color-dark, $darken-num);
}
.dark-l {
  color: lighten($color-dark, $lighten-num);
}
.bg-dark {
  background-color: $color-dark;
}
.bgd-dark {
  background-color: darken($color-dark, $darken-num);
}
.bgl-dark {
  background-color: lighten($color-dark, $lighten-num);
}

/********************** success **********************/

.success {
  color: $color-success;
}
.success-d {
  color: darken($color-success, $darken-num);
}
.success-l {
  color: lighten($color-success, $lighten-num);
}
.bg-success {
  background-color: $color-success;
}
.bgd-success {
  background-color: darken($color-success, $darken-num);
}
.bgl-success {
  background-color: lighten($color-success, $lighten-num);
}
/********************** danger **********************/
.danger {
  color: $color-danger;
}
.danger-d {
  color: darken($color-danger, $darken-num);
}
.danger-l {
  color: lighten($color-danger, $lighten-num);
}
.bg-danger {
  background-color: $color-danger;
}
.bgd-danger {
  background-color: darken($color-danger, $darken-num);
}
.bgl-danger {
  background-color: lighten($color-danger, $lighten-num);
}
/********************** warn **********************/
.warn {
  color: $color-warn;
}
.warn-d {
  color: darken($color-warn, $darken-num);
}
.warn-l {
  color: lighten($color-warn, $lighten-num);
}
.bg-warn {
  background-color: $color-warn;
}
.bgd-warn {
  background-color: darken($color-warn, $darken-num);
}
.bgl-warn {
  background-color: lighten($color-warn, $lighten-num);
}
/********************** light **********************/
.light {
  color: $color-light;
}
.light-d {
  color: darken($color-light, $darken-num);
}
.light-l {
  color: lighten($color-light, $lighten-num);
}
.bg-light {
  background-color: $color-light;
}
.bgd-light {
  background-color: darken($color-light, $darken-num);
}
.bgl-light {
  background-color: lighten($color-light, $lighten-num);
}
/********************** white **********************/
.white {
  color: $color-white;
}
.white-d {
  color: darken($color-white, $darken-num);
}

.bg-white {
  background-color: $color-white;
}
.bgl-white {
  background-color: darken($color-white, $darken-num);
}

// 文本颜色
.tx-pc {
  color: $tx-pc;
}

.tx-rc {
  color: $tx-rc;
}

.tx-sc {
  color: $tx-sc;
}

.tx-hc {
  color: $tx-hc;
}

/********************** 背景色 **********************/
// 页面颜色
.bg-page {
  background-color: $color-bg-page;
}
.bg-body {
  background-color: $color-bg-body;
}
